/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * All domains belonging to Petco
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2020
 */

@font-face {
  font-family: PetcoCircularTT-Regular;
  src: url(fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
    url(fonts/PetcoCircularTT-Regular.woff) format("woff");
}
@font-face {
  font-family: PetcoCircularTT-Bold;
  src: url(fonts/PetcoCircularTT-Bold.woff2) format("woff2"),
    url(fonts/PetcoCircularTT-Bold.woff) format("woff");
}
