/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.citrusHills__speciesTab_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #021b4e;
  width: 100%;
  overflow-x: auto;

}

.citrusHills__speciesTab_item {
  text-transform: uppercase;
  padding: 12px 50px;
  margin: 0px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 10px solid transparent;
  cursor: pointer;
  color: #9b9b9b;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 700;
  text-align: center;
}

.citrusHills__speciesTab_item p {
  margin: 5px 0;
}


/* Product Carousel section And Dog Cat Category Section Combined CSS */
/* tab button style */
.citrusHills__tabcontent_wrapper,
.citrusHills__dogProductCarousel-wrapper {
  width: 100%;
  max-width: 1273px;
  margin: auto;
  overflow-x: auto;
}

.citrusHillsTabId,
.citrusHillsTabIdDog {
  width: 100%;
  overflow-x: auto;
}

.citrusHills__tab-area {
  overflow: hidden;
}

.citrusHills__tab-container {
  max-width: 1253px;
  width: 100%;
  margin: 0 auto;
}

.splide__pagination {
  display: none;
}

.citrusHills__Product,
.citrusHills__dogProduct {
  display: none;
}

.citrusHills__Product img,
.citrusHills__dogProduct img {
  object-fit: contain;
}

.citrusHills-tab-cardImg img {
  max-width: 100%;
  max-height: 175px;
}

.citrusHills-tab-card>a {
  text-decoration: none;
  color: #000;
}

.citrusHills-tab-card p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin: 20px 0 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em;
  /*standard size is 4em*/
  font-weight: 500;
}

.citrusHills__productCTA,
.citrusHills__dogProductCTA {
  border: 0;
  padding-left: 0;
  background: none;
  text-decoration: underline;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  cursor: pointer;
}

.citrusHills__Products,
.citrusHills__dogProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.citrusHills-tab-cardImg {
  padding: 0 10px;
  margin: auto;
}

.citrusTabShow,
.citrusDogTabShow {
  display: block;
}

.citrusHills__groupProductShot {
  border: 1px solid #001952;
  border-radius: 10px;
  text-decoration: none;
}

.citrusHills__groupProductShot__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.citrusHills__groupProductShotImage img {
  max-height: 144px;
  padding: 20px 0;
}

.citrusHills-tab-cardBody .groupProductCTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  margin: auto;
  padding: 0;
}

.citrusHills-tab-cardBody .groupCtaDimention {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.citrusHills-tab-cardBody .groupCtaDimention p {
  font-size: 20px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  margin-top: 0;
  text-decoration: underline;
}

.citrusHills-tab-cardBody .groupCtaArrow p {
  font-size: 34px;
  margin-top: 0;
}

.citrusHills__tab_item,
.citrusHills__dog_tab_item {
  /* text-transform: uppercase; */
  /* padding: 12px 20px;
  margin: 0px 10px; */
  /* font-size: 14px; */
  /* text-decoration: none;
  background-color: transparent;
  border: none; */
  /* border-bottom: 10px solid transparent; */
  /* cursor: pointer; */
  /* color: #9b9b9b; */
  /* font-weight: 700;
  line-height: 1.3;
  text-align: center;
  border-radius: 50px;
  fill: #F0F0F0;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25)); */

  width: 200px;
  height: 30px;
  border: none;
  border-radius: 20px;
  font-size: 13.5px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-style: normal;
  cursor: pointer;
  fill: #F0F0F0;
  line-height: normal;

}

.citrusHills__speciesTab_container .citrusHills__speciesTab_buttons .citrusHills__speciesTab_item.citrusHills__species_active_tab {
  color: #001952;
  border-bottom: 10px solid #001952;
  border-radius: 0;
  /* background: #001952; */
}

.citrusHills__tab_item.citrusHills__active_tab,
.citrusHills__dog_tab_item.citrusHills__active_tab_dog {
  color: white;
  /* border-bottom: 10px solid #001952; */
  /* border-radius: 0; */
  background: #001952;
}

.citrusHillsTabId,
.citrusHillsTabIdDog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
  /* border-bottom: 1px solid #021b4e; */
}

/* hide arrow */
.citrusHills_hide_arrow .splide__arrows {
  display: none;
}

@media all and (max-width: 1301px) {
  .citrusHills__tab-container {
    width: 90%;
  }
}

@media screen and (min-width: 922px) and (max-width: 1120px) {
  .citrusHills__commonCTA {
    width: 170px;
    height: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .citrusHills__commonCTA {
    width: 150px;
    height: 40px;
  }

  .citrusHills__tabcontent_wrapper,
  .citrusHills__dogProductCarousel-wrapper {
    width: max-content;
  }
}

@media screen and (max-width: 768px) {

  /* product section */
  .citrusHills__main-tab-content {
    padding: 0 0 0 30px;
  }

  .citrusHillsTabId,
  .citrusHillsTabIdDog {
    width: max-content;
    margin: 0 auto 20px;
  }

  .citrusHills__tab-container {
    width: 100%;
  }

  .citrusHills__commonCTA {
    font-size: 16px;
    color: #001952;
    text-transform: capitalize;
    background: none;
    padding: 0;
    text-decoration: underline !important;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: 900;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
  }

  .splide__arrow {
    display: none;
  }

  .citrusHills__tab_item,
  .citrusHills__dog_tab_item {
    font-size: 11.5px;
    width: 102px;

  }
}


@media all and (max-width: 575px) {

  .citrusHills__Product,
  .citrusHills__dogProduct {
    max-width: 195px;
  }
}

/* custom css */
.splide__arrow:disabled {
  opacity: 0;
}


/*------------------*/
/* Responsive CSS */
/*------------------*/
@media screen and (max-width: 768px) {

  /* Common Style */
  .citrusHills__commonCTA {
    color: #001952;
    text-transform: capitalize;
    background-color: unset;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: 900;
    margin: 0 auto;
  }
}

/* End Product Carousel section And Dog Cat Category Section Combined CSS */