body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Common CSS Start */
.citrusX__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.citrusX__wrapper a {
  text-decoration: none;
}

.citrusX__wrapper img {
  width: 100%;
}

.citrusX__wrapper h1,
.citrusX__wrapper h2,
.citrusX__wrapper h3,
.citrusX__wrapper h4 {
  margin: 0;
  padding: 0;
}

.citrusX__wrapper p {
  margin: 0;
  padding: 0;
}

.citrusX__section-gap {
  padding-bottom: 40px;
}

.citrusX__sectionSubhead {
  text-align: center;
  font-size: 16px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: black;
  padding-bottom: 10px !important;
}

.citrusX__sectionGap {
  padding-bottom: 40px;
}

.citrusX__sectionCTAgap {
  padding-top: 35px;
  padding-bottom: 40px;
}

.bestSellerCTA {
  display: flex;
  justify-content: center;
}

.citrusX__sectionTitle {
  margin: 0;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px !important;
}

.citrusX__sectionSubhead {
  text-align: center;
  font-size: 16px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: black;
  padding-bottom: 10px !important;
}

.citrusX__commonCTA {
  color: #fff;
  text-transform: uppercase;
  background-color: #001952;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 211px;
  height: 56px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 900;
  margin: 0 auto;
}

@media screen and (min-width: 922px) and (max-width: 1120px) {
  .citrusX__commonCTA {
    width: 170px;
    height: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .citrusX__commonCTA {
    width: 150px;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {

  /* Common Style */
  .citrusX__commonCTA {
    font-size: 16px;
    color: #001952;
    text-transform: capitalize;
    background-color: unset;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-family: "PetcoCircularTT-Bold", arial !important;
    font-weight: 900;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .citrusX__sectionTitle {
    width: 90%;
    margin: auto !important;
  }
}

@media screen and (max-width:375px) {
  #citrusX__sectionSubhead {
    width: 332px;
    margin: auto;
  }
}

/* End Common CSS */

.citrusX__desktop_block {
  display: block;
}

.citrusX__mobile_block {
  display: none;
}

/* Overflow Scrollbar */
.citrusX__productCarousel-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.citrusX__productCarousel-wrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* Product Carousel section CSS */
.citrusX__tab-area {
  overflow: hidden;
}

.citrusX__tab-container {
  max-width: 1273px;
  width: 100%;
  margin: 0 auto;
}

.splide__pagination {
  display: none;
}

.citrusX__product {
  display: none;
}

.citrusX__product img {
  object-fit: contain;
}

.citrusX__product img {
  max-width: 100%;
  max-height: 175px;
}

.citrusX-tab-card>a {
  text-decoration: none;
  color: #000;
}

.citrusX-tab-card p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin: 20px 0 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em;
  /*standard size is 4em*/
  font-weight: 500;
}

.yyyy__productScroller .citrusX-tab-card p {
  text-align: center;
  -webkit-line-clamp: unset;
  line-clamp: unset;
  color: #000;
  margin-bottom: 20px;
}

.citrusX__productCTA {
  border: 0;
  padding-left: 0;
  background: none;
  text-decoration: underline;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  cursor: pointer;
}

.yyyy__productScroller .citrusX__productCTA {
  padding-left: unset;
  width: 100%;
  margin: auto;
}

.citrusX__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.citrusX-tab-cardImg {
  padding: 0 10px;
  margin: auto;
}


/* hide arrow */
.citrusX_hide_arrow .splide__arrows {
  display: none;
}

/* End Group Product Shots */

@media all and (max-width: 1301px) {
  .citrusX__tab-container {
    width: 90%;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .citrusX__productCarousel-wrapper {
    width: max-content;
  }
}

@media screen and (max-width: 768px) {

  /* product section */
  .citrusX__main-tab-content {
    padding: 0 0 0 30px;
  }

  .citrusX__tab-container {
    width: 100%;
  }

  .splide__arrows {
    display: none;
  }
}


@media all and (max-width: 575px) {
  .citrusX__product {
    max-width: 195px;
  }
}

/* custom css */
.splide__arrow:disabled {
  opacity: 0;
}

/* End Product Carousel section CSS */