/* universal CSS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.citrusX__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.citrusX__wrapper a {
  text-decoration: none;
}

.citrusX__wrapper img {
  width: 100%;
}

.citrusX__wrapper h1,
.citrusX__wrapper h2,
.citrusX__wrapper h3,
.citrusX__wrapper h4 {
  margin: 0;
  padding: 0;
}

.citrusX__wrapper p {
  margin: 0;
  padding: 0;
}

.citrusX__sectionTitle {
  margin: 0;
  font-family: "PetcoCircularTT-Bold", arial !important;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: #000000;
  padding-bottom: 30px !important;
}


/* scroller styles */
.citrusXscroller__productCarousel-wrapper::-webkit-scrollbar {
  display: none;
}

/* End Universal CSS*/



/* product Carousel section */
/* tab button style */
.citrusXscroller__productCarousel-wrapper{
  width: 100%;
  max-width: 1273px;
  margin: auto;
  overflow-x: auto;
}

.citrusX__tab-area {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 26px;
}

.citrusX__tab-container {
  max-width: 1273px;
  width: 100%;
  margin: 0 auto;
}

.splide__pagination {
  display: none;
}

.citrusXscroller__product {
  max-width: 195px;
  width: 100% !important;
  margin: 0px 9px;
  display: none;
}

.citrusX-tab-cardImg img {
  max-width: 100%;
  min-height: 175px;
}

.citrusX-tab-card>a {
  text-decoration: none;
  color: #000;
}

.citrusX-tab-cardBody h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  font-family: "PetcoCircularTT-Bold", arial !important;
}

.citrusX-tab-cardBody p.citrusX-category-details {
  text-align: center;
  -webkit-line-clamp: unset;
  line-clamp: unset;
  color: #000;
}

.citrusX-tab-card p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  /* padding: 20px 0 20px; */
  margin: 20px 0 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em;
  /*standard size is 4em*/
}

.citrusXscroller__productCTA {
  border: 0;
  width: 100%;
  background: none;
  text-decoration: underline;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
  font-weight: 900;
  cursor: pointer;
  margin: auto;
}


.citrusX__scroller__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.citrusX-tab-cardImg {
  padding: 0 10px;
  margin: auto;
}

.citrusTabShow {
  display: block;
}


.citrusX__wrapper button {
  font-family: "PetcoCircularTT-Regular", arial !important;
}


/* hide arrow */
.citrusX_hide_arrow .splide__arrows {
  display: none;
}

@media all and (max-width: 1301px) {
  .citrusX__tab-container {
    width: 90%;
  }
}


@media screen and (max-width: 768px) {

  /* Common Style */
  .splide__arrows {
    display: none;
  }

  .citrusX__tab-container {
    width: 100%;
  }
}

@media all and (max-width: 575px) {
  .citrusXscroller__product {
    max-width: 195px;
  }
}

/* Group product CSS */

.citrusX__groupproductShot {
  border: 1px solid #001952;
  border-radius: 10px;
  text-decoration: none;
}

.citrusX__groupproductShot__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.citrusX__groupproductShotImage{
  padding: 0 5px;
}

.citrusX__groupproductShotImage img {
  max-height: 144px;
  padding-bottom: 30px;
}

.groupproductCTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  margin: auto;
}

.groupCtaDimention {
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.groupCtaDimention p {
  font-size: 20px;
  line-height: 18px;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  margin: 0;
  text-decoration: underline;
}

.groupCtaArrow p {
  font-size: 34px;
  margin: 0;
}

/* custom css */
.splide__arrow:disabled {
  opacity: 0;
}
/* End product Common scroller CSS Style */
